.post {
  display: inline-block;
  width: 300px;
  border: 1px solid #ccc;
  margin: 5px 5px 0 0;
  padding: 15px;

  .photo {
    display: block;
    height: 200px;
    border-radius: 15px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center
  }
}//post